Led_hw/LedHw.bak
Box_hw/Assem1.SLDASM
Box_hw/Box_hw.bak
Box_hw/Box_hw.csv
Box_hw/Box_hw.kicad_pcb-bak
Box_hw/Box_pcb.SLDPRT
Led_hw/Gerber/LedHw-B_Cu.gbl
Led_hw/Gerber/LedHw-B_Mask.gbs
Led_hw/Gerber/LedHw-B_SilkS.gbo
Led_hw/Gerber/LedHw-Edge_Cuts.gbr
Led_hw/Gerber/LedHw.drl
Led_hw/LedHw.dsn
Led_hw/LedHw.kicad_pcb-bak
Led_hw/Salem_Led/LedHw.ses
Box_hw/Box_hw.dsn
Box_hw/Box_hw/Box_hw.ses
Box_fw/.settings/language.settings.xml
Box_fw/Debug/SalemBox.elf
Box_fw/Debug/SalemBox.lst
Box_fw/Debug/SalemBox.map
Box_fw/Debug/kl_lib/SimpleSensors.o
Box_fw/Debug/kl_lib/keys.o
Box_fw/Debug/kl_lib/kl_lib_L15x.o
Box_fw/Debug/main.o
Box_fw/Debug/kl_lib/SimpleSensors.d
Box_fw/Debug/kl_lib/buttons.d
Box_fw/Debug/kl_lib/buttons.o
Box_fw/Debug/kl_lib/subdir.mk
Box_fw/Debug/kl_lib/uart.o
Box_fw/Debug/lcd1200.d
Box_fw/Debug/lcd1200.o
Box_fw/Debug/main.d
